# Left monitor.
KERNEL=="i2c-6", SUBSYSTEM=="i2c-dev", GROUP="ddc", MODE="0660"
# Right monitor.
KERNEL=="i2c-7", SUBSYSTEM=="i2c-dev", GROUP="ddc", MODE="0660"
